.pin .MuiSvgIcon-root {
    fill: rgba(255, 0, 0, 0.75);
    font-size: 2rem;
}

.pin .marker-label {
    margin-left: -20px;
    display: flex;
    width: 250px;
}

.MapButton {
    position: relative;
    text-align: center;
    bottom: 10%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}